<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc" style="margin-top: 1em;"><ul class="toc-item"></ul></div>

In [152]:
%reload_ext autoreload
%autoreload 2

import re
import sys
sys.path.append('../')

In [153]:
import pandas as pd
import datetime

from rgtfs import io

In [154]:
import rgtfs

In [155]:
gtfs_path = '../data/output/gtfs_brt.zip'

In [179]:
rgtfs.generate_realized_trips_from_gtfs(gtfs_path).to_csv('../data/output/realized_trips_gtfs.csv')

In [157]:
gtfs = io.read_gtfs(gtfs_path)

In [167]:
pd.Timestamp(2020, 1, 1).weekday()

2

In [176]:
from copy import deepcopy

dow = {
    0:'monday',
    1:'tuesday',
    2:'wednesday',
    3:'thursday',
    4:'friday',
    5:'saturday',
    6:'sunday'

}

def calculate_exits(row):
    
    _df = []
    
    calendar = calendar_dates_by_trip_id.query(f'trip_id == "{row["trip_id"]}"').iloc[0]
    
    current_date = pd.Timestamp(str(calendar['start_date']))
    end_date = pd.Timestamp(str(calendar['end_date']))
    
    while current_date <= end_date:
        
        # Has to be match day of the week
        if not calendar[dow[current_date.weekday()]]:
            current_date = current_date + datetime.timedelta(days=1)
    
        current_time = pd.Timestamp(str(current_date.date()) + ' ' + row['start_time'])
        end_time = pd.Timestamp(str(current_date.date()) + ' ' +  row['end_time'])

        while current_time < end_time:

            _df.append(
                current_time
            )
            current_time = current_time + datetime.timedelta(seconds=row['headway_secs'])
        
        current_date = current_date + datetime.timedelta(days=1)
        
    _df = pd.DataFrame({'departure_datetime': _df})
    _df['trip_id'] = row['trip_id']
    return _df

# Generates all exits
calendar_dates_by_trip_id = (
    pd.merge(
        gtfs.trips[['service_id', 'trip_id']],
        gtfs.calendar,
        on=['service_id'])
    ).drop_duplicates(
        subset=['service_id', 'trip_id']
    )

df = []
for i, row in gtfs.frequencies.iterrows():
    
    df.append(calculate_exits(row))
    
df = pd.concat(df)

In [177]:
df[df['trip_id'] == '10_0_U']['departure_datetime'].apply(lambda x: f'{x.month}-{x.day}').unique()

array(['1-1', '1-3', '1-4', '1-5', '1-6', '1-7', '1-8', '1-10', '1-11',
       '1-12', '1-13', '1-14', '1-15', '1-17', '1-18', '1-19', '1-20',
       '1-21', '1-22', '1-24', '1-25', '1-26', '1-27', '1-28', '1-29',
       '1-31', '2-1', '2-2', '2-3', '2-4', '2-5', '2-7', '2-8', '2-9',
       '2-10', '2-11', '2-12', '2-14', '2-15', '2-16', '2-17', '2-18',
       '2-19', '2-21', '2-22', '2-23', '2-24', '2-25', '2-26', '2-28',
       '3-1', '3-2', '3-3', '3-4', '3-5', '3-7', '3-8', '3-9', '3-10',
       '3-11', '3-12', '3-14', '3-15', '3-16', '3-17', '3-18', '3-19',
       '3-21', '3-22', '3-23', '3-24', '3-25', '3-26', '3-28', '3-29',
       '3-30', '3-31', '4-1', '4-2', '4-4', '4-5', '4-6', '4-7', '4-8',
       '4-9', '4-11', '4-12', '4-13', '4-14', '4-15', '4-16', '4-18',
       '4-19', '4-20', '4-21', '4-22', '4-23', '4-25', '4-26', '4-27',
       '4-28', '4-29', '4-30', '5-2', '5-3', '5-4', '5-5', '5-6', '5-7',
       '5-9', '5-10', '5-11', '5-12', '5-13', '5-14', '5-16', '5-17',
       '5-18', '5-19', '5-20', '5-21', '5-23', '5-24', '5-25', '5-26',
       '5-27', '5-28', '5-30', '5-31'], dtype=object)

In [163]:
(
    pd.merge(
        gtfs.trips[['service_id', 'trip_id']],
        gtfs.calendar,
        on=['service_id'])
    ).drop_duplicates(
        subset=['service_id', 'trip_id']
    )

,service_id,trip_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,U,10_0_U,1,1,1,1,1,0,0,20210101,20210531
1,U,10_1_U,1,1,1,1,1,0,0,20210101,20210531
2,U,11_0_U,1,1,1,1,1,0,0,20210101,20210531
3,U,11_1_U,1,1,1,1,1,0,0,20210101,20210531
4,U,12_0_U,1,1,1,1,1,0,0,20210101,20210531
5,U,12_1_U,1,1,1,1,1,0,0,20210101,20210531
6,U,13_0_U,1,1,1,1,1,0,0,20210101,20210531
7,U,13_1_U,1,1,1,1,1,0,0,20210101,20210531
8,U,14_0_U,1,1,1,1,1,0,0,20210101,20210531
9,U,14_1_U,1,1,1,1,1,0,0,20210101,20210531
10,U,18_0_U,1,1,1,1,1,0,0,20210101,20210531
11,U,18_1_U,1,1,1,1,1,0,0,20210101,20210531
12,U,19_0_U,1,1,1,1,1,0,0,20210101,20210531
13,U,19_1_U,1,1,1,1,1,0,0,20210101,20210531
14,U,20_0_U,1,1,1,1,1,0,0,20210101,20210531
15,U,20_1_U,1,1,1,1,1,0,0,20210101,20210531
16,U,22_0_U,1,1,1,1,1,0,0,20210101,20210531
17,U,22_1_U,1,1,1,1,1,0,0,20210101,20210531
18,U,31_0_U,1,1,1,1,1,0,0,20210101,20210531
19,U,31_1_U,1,1,1,1,1,0,0,20210101,20210531
20,U,38_0_U,1,1,1,1,1,0,0,20210101,20210531
21,U,38_1_U,1,1,1,1,1,0,0,20210101,20210531
22,U,41_0_U,1,1,1,1,1,0,0,20210101,20210531
23,U,41_1_U,1,1,1,1,1,0,0,20210101,20210531
24,U,46_0_U,1,1,1,1,1,0,0,20210101,20210531
25,U,46_1_U,1,1,1,1,1,0,0,20210101,20210531
26,U,50_0_U,1,1,1,1,1,0,0,20210101,20210531
27,U,50_1_U,1,1,1,1,1,0,0,20210101,20210531
28,U,51_0_U,1,1,1,1,1,0,0,20210101,20210531
29,U,51_1_U,1,1,1,1,1,0,0,20210101,20210531
30,U,25A_0_U,1,1,1,1,1,0,0,20210101,20210531
31,U,25A_1_U,1,1,1,1,1,0,0,20210101,20210531
32,U,35A_0_U,1,1,1,1,1,0,0,20210101,20210531
33,U,35A_1_U,1,1,1,1,1,0,0,20210101,20210531
34,U,40A_0_U,1,1,1,1,1,0,0,20210101,20210531
35,U,40A_1_U,1,1,1,1,1,0,0,20210101,20210531
36,U,42A_0_U,1,1,1,1,1,0,0,20210101,20210531
37,U,42A_1_U,1,1,1,1,1,0,0,20210101,20210531
38,U,51A_0_U,1,1,1,1,1,0,0,20210101,20210531
39,U,51A_1_U,1,1,1,1,1,0,0,20210101,20210531
40,U,53A_0_U,1,1,1,1,1,0,0,20210101,20210531
41,U,53A_1_U,1,1,1,1,1,0,0,20210101,20210531
42,U,LECD33_0_U,1,1,1,1,1,0,0,20210101,20210531
43,U,LECD33_1_U,1,1,1,1,1,0,0,20210101,20210531

In [159]:
calendar_dates_by_trip_id

       trip_id start_date  end_date
0       10_0_U   20210101  20210531
1       10_1_U   20210101  20210531
2       11_0_U   20210101  20210531
3       11_1_U   20210101  20210531
4       12_0_U   20210101  20210531
5       12_1_U   20210101  20210531
6       13_0_U   20210101  20210531
7       13_1_U   20210101  20210531
8       14_0_U   20210101  20210531
9       14_1_U   20210101  20210531
10      18_0_U   20210101  20210531
11      18_1_U   20210101  20210531
12      19_0_U   20210101  20210531
13      19_1_U   20210101  20210531
14      20_0_U   20210101  20210531
15      20_1_U   20210101  20210531
16      22_0_U   20210101  20210531
17      22_1_U   20210101  20210531
18      31_0_U   20210101  20210531
19      31_1_U   20210101  20210531
20      38_0_U   20210101  20210531
21      38_1_U   20210101  20210531
22      41_0_U   20210101  20210531
23      41_1_U   20210101  20210531
24      46_0_U   20210101  20210531
25      46_1_U   20210101  20210531
26      50_0_U   20210101  20210531
27      50_1_U   20210101  20210531
28      51_0_U   20210101  20210531
29      51_1_U   20210101  20210531
30     25A_0_U   20210101  20210531
31     25A_1_U   20210101  20210531
32     35A_0_U   20210101  20210531
33     35A_1_U   20210101  20210531
34     40A_0_U   20210101  20210531
35     40A_1_U   20210101  20210531
36     42A_0_U   20210101  20210531
37     42A_1_U   20210101  20210531
38     51A_0_U   20210101  20210531
39     51A_1_U   20210101  20210531
40     53A_0_U   20210101  20210531
41     53A_1_U   20210101  20210531
42  LECD33_0_U   20210101  20210531
43  LECD33_1_U   20210101  20210531

In [129]:
# Adds statistics
df = pd.merge(
    df,
    gtfs.compute_trip_stats()[['trip_id', 'duration', 'distance', 'speed', 'start_stop_id', 'end_stop_id']],
    on='trip_id'
).rename(columns={
    'duration': 'elapsed_time',
    'speed': 'average_speed',
    'start_stop_id': 'departure_id',
    'end_stop_id': 'arrival_id'
})

In [147]:
gtfs.compute_trip_stats()

,trip_id,route_id,route_short_name,route_type,direction_id,shape_id,num_stops,start_time,end_time,start_stop_id,end_stop_id,is_loop,duration,distance,speed
0,10_0_U,10,BRT_10,3,0,710001000,14,01:00:00,03:25:00,424128711090,519149710170,0,2.416667,38.397995,15.888825
1,10_1_U,10,BRT_10,3,1,710001010,14,01:00:00,03:20:00,519149710171,424128711091,0,2.333333,38.793762,16.625898
2,11_0_U,11,BRT_11,3,0,710001100,36,01:00:00,03:40:00,424128711090,519149710170,0,2.666667,38.420843,14.407816
3,11_1_U,11,BRT_11,3,1,710001110,36,01:00:00,03:40:00,519149710171,424128711091,0,2.666667,38.823020,14.558632
4,12_0_U,12,BRT_12,3,0,710001200,7,01:00:00,02:55:00,424128711090,526151710170,0,1.916667,31.368738,16.366298
5,12_1_U,12,BRT_12,3,1,710001210,7,01:00:00,02:50:00,526151710171,424128711091,0,1.833333,31.416601,17.136328
6,13_0_U,13,BRT_13,3,0,710001300,6,01:00:00,02:35:00,424128711090,526151710370,0,1.583333,24.654894,15.571512
7,13_1_U,13,BRT_13,3,1,710001310,6,01:00:00,02:30:00,526151710371,424128711091,0,1.500000,24.615339,16.410226
8,14_0_U,14,BRT_14,3,0,710001400,3,01:00:00,03:35:00,424132711370,518144720170,0,2.583333,40.631146,15.728186
9,14_1_U,14,BRT_14,3,1,710001410,3,01:00:00,03:30:00,518144720171,424132711371,0,2.500000,40.573043,16.229217
10,18_0_U,18,BRT_18,3,0,710001800,12,01:00:00,02:30:00,424128711990,424132710370,0,1.500000,19.658348,13.105566
11,18_1_U,18,BRT_18,3,1,710001810,12,01:00:00,02:25:00,424132710371,424128711991,0,1.416667,19.692912,13.900879
12,19_0_U,19,BRT_19,3,0,710001900,6,01:00:00,02:35:00,424132711370,526151710170,0,1.583333,23.292338,14.710950
13,19_1_U,19,BRT_19,3,1,710001910,6,01:00:00,02:30:00,526151710171,424132711371,0,1.500000,23.341982,15.561321
14,20_0_U,20,BRT_20,3,0,710002000,13,01:00:00,03:05:00,424132711370,519149710170,0,2.083333,30.321594,14.554365
15,20_1_U,20,BRT_20,3,1,710002010,13,01:00:00,03:00:00,519149710171,424132711371,0,2.000000,30.697669,15.348835
16,22_0_U,22,BRT_22,3,0,710002200,9,01:00:00,01:45:00,424128711990,424128711090,0,0.750000,6.206916,8.275888
17,22_1_U,22,BRT_22,3,1,710002210,9,01:00:00,01:40:00,424128711091,424128711991,0,0.666667,6.177917,9.266876
18,25A_0_U,25A,BRT_25A,3,0,731002500,27,01:00:00,03:05:00,424128711090,526151710370,0,2.083333,25.040213,12.019302
19,25A_1_U,25A,BRT_25A,3,1,731002510,27,01:00:00,03:00:00,526151710371,424128711091,0,2.000000,24.987076,12.493538
20,31_0_U,31,BRT_31,3,0,710003100,3,01:00:00,02:55:00,424128711090,314073730270,0,1.916667,23.793923,12.414221
21,31_1_U,31,BRT_31,3,1,710003110,3,01:00:00,02:50:00,314073730271,424128711091,0,1.833333,23.673486,12.912811
22,35A_0_U,35A,BRT_35A,3,0,731003500,33,01:00:00,03:25:00,424128711990,315083730290,0,2.416667,26.517683,10.972834
23,35A_1_U,35A,BRT_35A,3,1,731003510,33,01:00:00,03:20:00,315083730291,424128711991,0,2.333333,26.110780,11.190334
24,38_0_U,38,BRT_38,3,0,731003800,44,01:00:00,03:40:00,320104730270,424128711090,0,2.666667,39.413379,14.780017
25,38_1_U,38,BRT_38,3,1,731003810,45,01:00:00,03:40:00,424128711091,320104730270,0,2.666667,41.241182,15.465443
26,40A_0_U,40A,BRT_40A,3,0,731004000,9,01:00:00,02:35:00,424128711090,315083730290,0,1.583333,19.710600,12.448800
27,40A_1_U,40A,BRT_40A,3,1,731004010,9,01:00:00,02:30:00,315083730291,424128711091,0,1.500000,19.406470,12.937647
28,41_0_U,41,BRT_41,3,0,710004100,12,01:00:00,02:45:00,424132740190,315083730290,0,1.750000,19.462731,11.121561
29,41_1_U,41,BRT_41,3,1,710004110,12,01:00:00,02:40:00,315083730291,424132740191,0,1.666667,19.682433,11.809460
30,42A_0_U,42A,BRT_42A,3,0,731004200,20,01:00:00,03:05:00,320104730270,315083730370,0,2.083333,21.555877,10.346821
31,42A_1_U,42A,BRT_42A,3,1,731004210,21,01:00:00,03:00:00,320104730170,315083730371,0,2.000000,21.659049,10.829524
32,46_0_U,46,BRT_46,3,0,710004600,11,01:00:00,03:25:00,424128711090,311043730370,0,2.416667,28.315587,11.716795
33,46_1_U,46,BRT_46,3,1,710004610,11,01:00:00,03:20:00,311043730271,424128711091,0,2.333333,28.163329,12.069998
34,50_0_U,50,BRT_50,3,0,710005000,18,01:00:00,02:15:00,424128711990,416115740170,0,1.250000,15.244566,12.195652
35,50_1_U,50,BRT_50,3,1,710005010,18,01:00:00,02:20:00,416115740171,424128711991,0,1.333333,14.851730,11.138797
38,51_0_U,51,BRT_51,3,0,710005100,18,01:00:00,02:25:00,424132740190,533135740370,0,1.416667,20.440817,14.428812
39,51_1_U,51,BRT_51,3,1,710005110,18,01:00:00,02:20:00,533135740371,424132740191,0,1.333333,20.461326,15.345994
36,51A_0_U,51A,BRT_51A,3,0,731005100,21,01:00:00,02:30:00,424128711090,533135740370,0,1.500000,22.922802,15.281868
37,51A_1_U,51A,BRT_51A,3,1,731005110,21,01:00:00,02:25:00,533135740371,424128711091,0,1.416667,23.081716,16.292976
40,53A_0_U,53A,BRT_53A,3,0,731005300,6,01:00:00,02:10:00,424128711090,533135740190,0,1.166667,18.693401,16.022915
41,53A_1_U,53A,BRT_53A,3,1,731005310,6,01:00:00,02:05:00,533135740190,424128711091,0,1.083333,19.227877,17.748810
42,LECD33_0_U,LECD33,BRT_LECD33,3,0,790003300,6,01:00:00,01:40:00,518144720170,519149710170,0,0.666667,15.661263,23.491894
43,LECD33_1_U,LECD33,BRT_LECD33,3,1,790003310,6,01:00:00,01:45:00,519149710171,518144720171,0,0.750000,16.323603,21.764804

In [135]:
# Adds arrival time
df['arrival_time'] = df.apply(lambda row: row['departure_datetime'] + datetime.timedelta(hours=row['elapsed_time']), 1)

In [137]:
# Adds trajectory type
df['trajectory_type'] = 'complete_trip'

In [141]:
# creates missing columns
for c in realized_trips_cols:
    if c not in original_brt.columns:
        original_brt[c] = None

df

,departure_datetime,trip_id,elapsed_time,distance,average_speed,arrival_time,trajectory_type
0,2021-01-01 04:00:00,10_0_U,2.416667,38.397995,15.888825,2021-01-01 06:25:00,complete_trip
1,2021-01-01 04:15:00,10_0_U,2.416667,38.397995,15.888825,2021-01-01 06:40:00,complete_trip
2,2021-01-01 04:30:00,10_0_U,2.416667,38.397995,15.888825,2021-01-01 06:55:00,complete_trip
3,2021-01-01 04:45:00,10_0_U,2.416667,38.397995,15.888825,2021-01-01 07:10:00,complete_trip
4,2021-01-02 04:00:00,10_0_U,2.416667,38.397995,15.888825,2021-01-02 06:25:00,complete_trip
...,...,...,...,...,...,...,...
432610,2021-05-30 21:20:00,LECD33_1_U,0.750000,16.323603,21.764804,2021-05-30 22:05:00,complete_trip
432611,2021-05-30 21:40:00,LECD33_1_U,0.750000,16.323603,21.764804,2021-05-30 22:25:00,complete_trip
432612,2021-05-31 21:00:00,LECD33_1_U,0.750000,16.323603,21.764804,2021-05-31 21:45:00,complete_trip
432613,2021-05-31 21:20:00,LECD33_1_U,0.750000,16.323603,21.764804,2021-05-31 22:05:00,complete_trip
432614,2021-05-31 21:40:00,LECD33_1_U,0.750000,16.323603,21.764804,2021-05-31 22:25:00,complete_trip